main{
  padding: 5px;
  /* Separa as partes do texto , da foto e das tecnologias*/
  
}
.main-content{
   display: flex;
   flex-direction: column;
   font-size: 2.5em;
   padding: 70px;
   padding-left: 100px;
   
}
main , .main-content , h2{
   margin-bottom: 3%;
   font-size: 1.1em;
}
main , .main-content , .text{
   margin-bottom: 5%;
}
.titulo{
  display: flex;
}
hr{
  height: 40px;
}
.titulo > h1{
 margin-bottom: 1.5%;
 color: white;
 text-indent: 10px;
 font-size: 26px;
}
 .text > p , li{
   /*está mantendo o texto não muito comprido */
   width: 80% ;
   text-align: justify;
   text-indent: 30px;
   font-weight: 100;
   line-height: 1.8em;
   margin-left: 0.9em;
   margin-right: 0.9em;
}

  /* --- Minha Foto --- */
 figure{
   margin: auto;
    margin-bottom: 60px;
 }
  .me{
  
   height: 300px;
   border-radius: 300px;
   
   margin-bottom: 9%;
   border: 1px solid #00e0ff;
   transition: 0.2 ease-in-out;
   
  }
  .me:hover{
      box-shadow: 0px 0px 3px #00e0ff;
  }

  ul li  {
    color: #00e0ff;
    
  }
  ul li span{
    color: white;
  }
  li{
    margin: 5px;
  }
  
 
 /* .img-container img{
    
    width: 30%;
    height: 50%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    margin-left: 10px;
 } */

 .img-container {
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  width: 30%;
  
}

.container-dash img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  margin: 10px ;
  border-radius: 5px;
  
}

.container-dash legend {
  text-align: center;
  font-size: 1rem;
  color: #dbdbdb;
}

 
 #pbi:hover{
    cursor: pointer;
    transform: scale(1.1);
 }


  /* Projects Container */
  .Projects > div{
    margin-bottom: 15px;
   }
  
  .Projects{
  display:grid;
 } 

 /* Imagem do projeto */
 #img-project , #img-job{
  height: 200px;
  width: 350px;
  border-radius: 10px;
  border-right: solid 1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-color: transparent;
  
 }
 #container-project , #container-project2{
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  color: white;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #00e0ff;
  
  
 }
 
 .container-text > h2{
  align-items: center;
  text-align: center;
  margin-top: 20px;
  
}

.container-text > p{
 font-size: large;
  text-align: center;
 padding-left: 20px;
 padding-right: 20px;
}


.info{
  display:grid;
  grid-template-columns: 2fr 3fr;
  margin-top: 20px;
  margin-left: 24%;
  
}
.info > legend{
  color: #DDE1DC;
  font-family: "Montserrat" , Arial, Helvetica, sans-serif;
  font-size:medium;
}
.button-project{
 margin-left: 13%;
 margin-top: 12px;
 padding: 10px;
 width: 100px;
 border-radius: 10px;
 color: white;
 background-color:transparent;
 border-color: #00e0ff;
 border-width: 1px;
}
.button-project:hover{
 transform: scale(1,1);
 -webkit-transform: scale(1.1);
 cursor: pointer;
 
}

.button-project2{
 margin-left: 13%;
 margin-top: 40px;
 padding: 10px;
 width: 100px;
 border-radius: 10px;
 color: white;
 background-color:transparent;
 border-color: #00e0ff;
 border-width: 1px;
}
.button-project2:hover{
 transform: scale(1,1);
 -webkit-transform: scale(1.1);
 cursor: pointer;
}





 /* Projetcs container end */

 /* Container about my experiences/works*/

 #container-job{
   width:fit-content; /* 1227 x 202 */
  display: grid;
  grid-template-columns: 0fr 2.5fr;
  color: white;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #00e0ff;
  margin-top: 20px;
  
 }
  
 #container-job > .container-text > p{
  text-justify: auto;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  
}
.tech{
  margin-top: 30px;
}
/* ------ Cards ------ */
.cards-container {
  display: flex;
}
  
.card{
  width: 80px;
  height: 70px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.904);
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  
 }
 .card:hover{
  box-shadow: 0px 0px 8px 0px #00e0ff;
  transition: 0.2s ease-in-out;
 }
 
 img{
  height: 50px;
 
 }

